<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>zephyr</string>
	<key>CFBundleIdentifier</key>
	<string>com.kristianweb.zephyr</string>
	<key>CFBundleName</key>
	<string>Zephyr</string>
	<key>CFBundleDisplayName</key>
	<string>Zephyr</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.xml</string>
				<string>public.json</string>
				<string>public.yaml</string>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>md</string>
				<string>markdown</string>
				<string>go</string>
				<string>py</string>
				<string>js</string>
				<string>ts</string>
				<string>tsx</string>
				<string>jsx</string>
				<string>rs</string>
				<string>rb</string>
				<string>c</string>
				<string>h</string>
				<string>cpp</string>
				<string>hpp</string>
				<string>java</string>
				<string>swift</string>
				<string>kt</string>
				<string>css</string>
				<string>html</string>
				<string>htm</string>
				<string>xml</string>
				<string>json</string>
				<string>yaml</string>
				<string>yml</string>
				<string>toml</string>
				<string>sh</string>
				<string>bash</string>
				<string>zsh</string>
				<string>fish</string>
				<string>sql</string>
				<string>csv</string>
				<string>log</string>
				<string>conf</string>
				<string>cfg</string>
				<string>ini</string>
				<string>env</string>
				<string>gitignore</string>
				<string>dockerfile</string>
				<string>makefile</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.markdown</string>
			<key>UTTypeDescription</key>
			<string>Markdown Document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
					<string>markdown</string>
					<string>mdown</string>
					<string>mkd</string>
				</array>
				<key>public.mime-type</key>
				<string>text/markdown</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
